*.bak
.idea/.name
.idea/dictionaries/nnt.xml
.idea/encodings.xml
.idea/MHO.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Chrome_JS.xml
.idea/jsLibraryMappings.xml
